.container_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container_intro {
  margin-top: 10vh;
  padding: 28px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.container_intro h1 {
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.sub_categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 20px 20px 20px;
}

.container_subtitle h2 {
  animation-duration: 1s;
  animation-name: slidein;
  font-size: 28px;
  font-family: "Krona One", sans-serif;
  color: #f2f2f2;
  text-transform: uppercase;
  margin-top: 0px;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Terra Cotta */

.terracotta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/terracottadbg.jpg);
  background-size: cover;
  height: 400px;
  width: auto;
  padding: 60px 0 60px 0;
  position: relative;
}

.terracotta:hover .terracotta_overlay {
  height: 520px;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  transition: 0.5s;
}

.terracotta_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.terracotta_text p {
  width: 70%;
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 0 0 40px 0;
}

.terracotta button {
  width: auto;
  height: 50px;
  font-family: "Krona One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #353535;
  border: none;
  padding: 0 16px 0 16px;
  margin-bottom: 0;
}

/* Concrete */

.concrete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/concretebg.jpg);
  background-size: cover;
  height: 400px;
  width: auto;
  padding: 60px 0 60px 0;
  position: relative;
}

.concrete:hover .concrete_overlay {
  height: 520px;
  width: 100%;
  position: absolute;
  background-color: rgb(187, 187, 187);
  opacity: 0.5;
  transition: 0.5s;
}

.concrete_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.concrete h2 {
  color: #353535;
}

.concrete_text p {
  width: 70%;
  color: #353535;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 0 0 40px 0;
}

.concrete button {
  width: auto;
  height: 50px;
  font-family: "Krona One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #353535;
  color: #f2f2f2;
  border: none;
  padding: 0 16px 0 16px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .sub_categories {
    grid-template-columns: repeat(1, 1fr);
  }
  .terracotta .terracotta_overlay {
    height: 520px;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
  }

  .concrete .concrete_overlay {
    height: 520px;
    width: 100%;
    position: absolute;
    background-color: rgb(187, 187, 187);
    opacity: 0.5;
    transition: 0.5s;
  }
}

@media (min-width: 600px) {
  .container_intro h1 {
    font-size: 48px;
    margin: 40px 0 30px 0;
    line-height: 54px;
  }

  .container_intro p {
    margin: 0 10vw 60px 10vw;
  }
}

@media (min-width: 1000px) {
  .container_intro h1 {
    font-size: 48px;
    margin: 40px 0 30px 0;
  }

  .container_intro p {
    margin: 0 25vw 60px 25vw;
  }
}
