/* .slider_container {
    height: 500px;
    padding-top: 10vh;
} */

/* .all_plant_list {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.plant_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.plant_intro {
  margin-top: 10vh;
  padding: 28px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.plant_intro h1 {
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.sub_categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 20px 20px 20px;
}

.plant_subtitle h2 {
  animation-duration: 1s;
  animation-name: slidein;
  font-size: 28px;
  font-family: "Krona One", sans-serif;
  color: #f2f2f2;
  text-transform: uppercase;
  margin-top: 0px;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Orchid */

.orchid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/orchidbgrsz.jpg);
  background-size: cover;
  height: 400px;
  width: auto;
  padding: 60px 0 60px 0;
  position: relative;
}

.orchid:hover .orchid_overlay {
  height: 520px;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  transition: 0.5s;
}

.orchid_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.orchid_text p {
  width: 70%;
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 0 0 40px 0;
}

.orchid button {
  width: auto;
  height: 50px;
  font-family: "Krona One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #353535;
  border: none;
  padding: 0 16px 0 16px;
  margin-bottom: 0;
}

.succulent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/plants2rsdk.jpg);
  background-size: cover;
  height: 400px;
  padding: 60px 0 60px 0;
  position: relative;
}

.succulent:hover .succulent_overlay {
  height: 520px;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  transition: 0.5s;
}

.succulent_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.succulent_text p {
  width: 70%;
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 0 0 40px 0;
}

.succulent button {
  width: auto;
  height: 50px;
  font-family: "Krona One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #353535;
  border: none;
  padding: 0 16px 0 16px;
  margin-bottom: 0;
}

.bonsai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/bonsaibgdrs.jpg);
  background-size: cover;
  height: 400px;
  padding: 60px 0 60px 0;
  position: relative;
}

.bonsai:hover .bonsai_overlay {
  height: 520px;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  transition: 0.5s;
}

.bonsai_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.bonsai_text p {
  width: 70%;
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 0 0 40px 0;
}

.bonsai button {
  width: auto;
  height: 50px;
  font-family: "Krona One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #353535;
  border: none;
  padding: 0 16px 0 16px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .sub_categories {
    grid-template-columns: repeat(1, 1fr);
  }
  .bonsai .bonsai_overlay {
    height: 520px;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
  }

  .succulent .succulent_overlay {
    height: 520px;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
  }

  .orchid .orchid_overlay {
    height: 520px;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
  }
}

@media (min-width: 600px) {
  .plant_intro h1 {
    font-size: 48px;
    margin: 54px 0 40px 0;
  }

  .plant_intro p {
    margin: 0 10vw 60px 10vw; 
  }
}

@media (min-width: 1000px) {

  .plant_intro h1 {
    font-size: 48px;
    margin: 54px 0 40px 0;
  }

  .plant_intro p {
    margin: 0 25vw 60px 25vw; 
  }
}

