.design_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.design_intro {
  margin-top: 10vh;
  padding: 28px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.design_intro h1 {
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.sub_categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 20px 20px 20px;
}

.design_subtitle h2 {
  animation-duration: 1s;
  animation-name: slidein;
  font-size: 28px;
  font-family: "Krona One", sans-serif;
  color: #f2f2f2;
  text-transform: uppercase;
  margin-top: 0px;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Plant Care & Staging */

.plant_care {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/plant-caredbg.jpg);
  background-size: cover;
  height: 400px;
  width: auto;
  padding: 60px 0 60px 0;
  position: relative;
}

.staging {
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  background-image: url(../../../images/stagingbgd.jpg);
  background-size: cover;
  height: 400px;
  width: auto;
  padding: 60px 0 60px 0;
  position: relative;
}

.plant_care:hover .plant_care_overlay {
  height: 520px;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  transition: 0.5s;
}

.staging:hover .staging_overlay {
  height: 520px;
  width: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  transition: 0.5s;
  top: 0;
}

.plant_care_text,
.staging_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.plant_care_text p,
.staging_text p {
  width: 70%;
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 0 0 40px 0;
}

.plant_care button,
.staging button {
  width: auto;
  height: 50px;
  font-family: "Krona One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #353535;
  border: none;
  padding: 0 16px 0 16px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .sub_categories {
    grid-template-columns: repeat(1, 1fr);
  }
  .plant_care .plant_care_overlay {
    height: 520px;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
  }

  .staging .staging_overlay {
    height: 520px;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    transition: 0.5s;
    top: 0;
  }
}

@media (min-width: 600px) {
  .design_intro h1 {
    font-size: 48px;
    margin: 40px 0 30px 0;
    line-height: 54px;
  }

  .design_intro p {
    margin: 0 10vw 60px 10vw;
  }
}

@media (min-width: 1000px) {
  .design_intro h1 {
    font-size: 48px;
    margin: 40px 0 30px 0;
  }

  .design_intro p {
    margin: 0 25vw 60px 25vw;
  }
}
