.contain_image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 36px 0 36px;
}

.desktop_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.desktop_menu li {
  padding-left: 30px;
  text-transform: uppercase;
}

.dropdown:hover .about_menu {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  top: -6px;
  left: 34px;
  padding-top: 36px;
  width: 100px;
  z-index: 1;
}

.about_menu li {
  padding: 0 30px 0 10px;
  text-align: left;
  line-height: 40px;
  color: #353535;
}

.dropdown {
  position: relative;
}

.dropdown > span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.about_menu {
  display: none;
}

/* @media (min-width: 800px) {
    .mobile_menu {
        display: none;
    }

    .contain_image img {
        display: none;
    }
} */

/* @media (max-width: 800px) {
    .desktop_menu {
        display: none;
    }
} */

@media (min-width: 1000px) {
  .contain_image {
    /* background-color: rgba(151, 151, 151, 0.2); */
    border-bottom: none;
    height: 120px;
    padding: 0 54px 0 54px;
  }

  .desktop_menu {
    display: none;
  }
}
