.mainBody {
  padding-top: 11vh;
  min-height: 100vh;
  position: relative;
}

.plant_content_container {
  position: relative;
  margin-bottom: 60px;
}

.plant_category_intro {
  padding: 28px 38px 28px 38px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.plant_category_intro h1 {
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 30px;
}

.dragbox {
  display: flex;
  justify-content: center;
}

.inner_box:focus {
  outline: 0;
}

button {
  width: auto;
  height: 50px;
  font-family: "Krona One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #353535;
  border: none;
  padding: 0 16px 0 16px;
  margin-bottom: 60px;
}

.add_plant_button {
  margin-top: 60px;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 0px;
  margin: 0 20px 0 20px;
}

@media (min-width: 600px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .plant_category_intro {
    /* margin: 0 10% 0 10%; */
  }

  .plant_category_intro h1 {
    font-size: 48px;
    margin: 54px 0 40px 0;
  }

  .plant_category_intro p {
    margin: 0 10vw 60px 10vw;
  }
}

@media (min-width: 770px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 1000px) {

  .plant_category_intro h1 {
    font-size: 48px;
    margin: 54px 0 40px 0;
  }

  .plant_category_intro p {
    margin: 0 25vw 60px 25vw; 
  }
}
