.design {
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    text-align: center;
    color: #353535;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
}

.overlay_text {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #F2F2F2;
}

.overlay_text h1 {
    margin: 0;
    color: #F2F2F2;
}

.design:hover .overlay {
    height: 100%;
    transition: 0.5s;
  }

h1 { 
    color: #353535;
    font-family: "Krona One", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px 20px 0 20px;
}

h4 {
    margin-top: 6px;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.product_image {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .mobile_product_info {
        display: none;
    }
}

@media (max-width: 768px) {
    .overlay {
        display: none;
    }
}