#navbar {
  position: fixed;
  background-color: #393634;
  width: 75%;
  height: 100%;
  z-index: 4;
  top: 0;
  right: 0;
  transform: translateX(-150px);
  transition: transform 700ms ease-in-out;
  font-family: "Krona One", sans-serif;
  font-size: 28px;
}

#navbar.slideIn {
  transform: translateX(0);
}

#navbar.slideOut {
  transform: translateX(100%);
}

.other_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin-top: 15px;
}

li {
  margin-left: 40px;
  line-height: 50px;
}

a {
  color: #f2f2f2;
  text-decoration: none;
  text-align: left;
}

button {
  align-items: flex-end;
}

.XToClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theX {
  margin-right: 36px;
}

@media (min-width: 1000px) {
  .theX {
    margin-right: 54px;
  }

  ul {
    margin-top: 30px;
  }

  li {
    font-size: 54px;
    line-height: 74px;
  }

  #navbar ul a:hover {
    transform: scale(1.1);
    transition: .25s;
  }

  #navbar ul a:active {
      transform: scale(0.9);
      transition: 300ms;
  }
}
